html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

@font-face {
  font-family: "Inter-regular";
  src: url("../fonts/inter/inter-regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-medium";
  src: url("../fonts/inter/inter-medium.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-semibold";
  src: url("../fonts/inter/inter-semibold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-bold";
  src: url("../fonts/inter/inter-bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}